#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
  background-color: rgba($light, 0.96);
  display: flex;
  justify-content: space-between;
  z-index: 10000;

  div {
    height: 100%;
    line-height: 2em;

    a {
      height: 2em !important;
      line-height: 2em !important;
      text-decoration: none;
      color: $dark;

      i {
        font-size: 1.5em;
        cursor: pointer;
        color: rgba($primary, 0.8);

        &:hover {
          color: $primary;
        }
      }

      &:not(:last-child) {
        margin-right: 0.5em !important;
      }
    }
  }
}