$primary: #20f888;
$primary_hover: #1fe27d;
$secondary: #1400cc;
$light: #f3f3f3;
$lighter: #f5f5f5;
$dark: #353535;

$transition: 0.125s ease-in-out;
$radius: 1rem;
$shadow: 0 0 5px 1px rgba($dark, 0.1);